<div class="course-details">
    <div class="intro">
        <h2 class="mat-display-2">Details zum Projekt</h2>
    </div>
    <div class="details" *ngIf="project !== undefined">
        <a routerLink="/projects" class="list">Zurück zur Projektliste</a>
        <mat-card class="preview">
            <mat-card-header>
                <div class="project-title">
                    {{project.title}}
                </div>
                <div class="project-logo">
                    <img [src]="project.project_icon_url" alt="">
                </div>
            </mat-card-header>
            <mat-card-content>
                <div class="properties">
                    <div *ngIf="project.category_id">
                        <p class="label">Category:</p>
                        <p class="value">
                            {{project.category_id}}
                        </p>
                    </div>
                    <div *ngIf="project.project_image_url" class="project-image">
                        <img [src]="project.project_image_url" alt="">
                    </div>
                    <div *ngIf="project.director">
                        <p class="label">Director:</p>
                        <p class="value">{{ project.director }}</p>
                    </div>
                    <div *ngIf="project.code">
                        <p class="label">Code:</p>
                        <p class="value">{{ project.code }}</p>
                    </div>
                </div>
                <div [innerHTML]="project.content" class="preview-content">
                </div>
                <div class="sponsor-images">
                    <img *ngFor="let imageUrl of project.sponsor_images_urls" [src]="imageUrl" alt="">
                </div>
            </mat-card-content>
            <mat-card-actions align="end" *ngIf="isAdmin()">
                <button mat-button (click)="editProject()">edit</button>
                <button mat-button (click)="deleteProject(project)">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>