.course-details {
    width: 80%;
    margin: auto;
    margin-top: 4rem;
}
.mat-display-2 {
    color: #ff8f0c;
    text-align: center;
    font-family: 'Permanent Marker';
}
.intro, .details {
    padding-left: 3rem;
    padding-right: 3rem;
}
.intro {
    color: white;
}

.details {
    padding-top: 2rem;
    padding-bottom: 2rem;

}

mat-card-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 2.5rem;
}
.project-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 0;
}

mat-card {
    /* border: 6px solid #ff8f0c; */
    background: #131212;
    color: whitesmoke;
    margin-top: 1rem;
}

mat-card-subtitle {
    color: whitesmoke;
}

mat-card-actions {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.spacer {
    flex: 1 1 auto;
}

mat-card-actions button:first-of-type {
    font-weight: 500;
}
mat-card-actions button:last-of-type {
    font-weight: 300;
}

mat-paginator {
    background: #ff8f0c;
    color: whitesmoke;
    border-radius: 4px;
}

mat-card-title {
    white-space: nowrap;
    overflow: hidden;
}
mat-card-actions button {
    background: #ff8f0c !important;
    color: whitesmoke !important;
    font-weight: 300;
    margin-left: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-family: 'Permanent Marker';
    letter-spacing: 0.2rem;
    text-transform: capitalize;
}

.list {
    text-decoration: underline #ff8f0c;
    text-underline-offset: 0.4rem;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

.preview h1 {
    color: #91877d !important;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: left;
}
mat-card.preview {
    color: whitesmoke !important;
}
.preview mat-card-title {
    text-align: left !important;
    color: whitesmoke;
    margin-bottom: 2.5rem;
}

.properties div {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}
.properties .label {
    color: whitesmoke;
    margin-right: 1rem;
    width: 20%;
}
.properties .value {
    color: #91877d;
}

.properties {
    margin-bottom: 2.5rem;
}

.project-logo img {
    width: 100px;
}
.project-image img {
    height: 100%;
}
.sponsor-images {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.sponsor-images img {
    width: 100px;
}