.course-details {
    width: 80%;
    margin: auto;
    margin-top: 4rem;
}
.mat-display-2 {
    color: #ff8f0c;
    text-align: center;
    font-family: 'Permanent Marker';
}
.mat-display-1 {
    font-family: 'Permanent Marker';
    color: #ff8f0c;
}
.intro, .details {
    padding-left: 3rem;
    padding-right: 3rem;
}
.intro {
    color: white;
}

.details {
    padding-top: 2rem;
    padding-bottom: 2rem;

}

/* ************ */

.example-header-image {
    background-size: cover;
}

mat-card {
    border: 6px solid #ff8f0c;
    background: #36454f;
    color: whitesmoke;
    margin-top: 1rem;
}

mat-card-subtitle {
    color: whitesmoke;
}

mat-card-content p {
    font-weight: 300;
    line-height: 1.7rem;
    letter-spacing: 0.1em;
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

mat-card-actions span {
    font-weight: 500 !important;
}
/* mat-card-actions:last-of-type button {
    background: #ff8f0c !important;
    color: whitesmoke !important;
    font-weight: 300;
    margin-left: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-family: 'Permanent Marker';
    letter-spacing: 0.2rem;
    text-transform: capitalize;
}
mat-card-actions:last-of-type button:last-of-type {
    background: hsl(19, 100%, 52%) !important;
} */

button {
    cursor: default;
}

mat-card img{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    height: 400px;
}

mat-card-title {
    font-size: 1.9rem !important;
    font-family: 'Permanent Marker';
    color: #ff8f0c;
}

.list {
    text-decoration: underline #ff8f0c;
    text-underline-offset: 0.4rem;
}
