<div class="education">
    <h2 class="mat-display-2">Bildungsberatung</h2>
    <div class="content-page">
        <div>
            <p>
                Du möchtest einen Sprachkurs bei uns besuchen und weißt noch nicht genau, welcher zu dir passt? Wir helfen Dir:
            </p>
            <p class="goal">
                <span>Sprachkursberatung</span> und <span>Einstufungstest</span>
            </p>
            <p class="actions">
                Funda Aksoy | 0231/28678 165
            </p>
        </div>
        <div>
            <!-- <p>
                Du möchtest in Deutschland arbeiten und möchtest wissen, wo Du Deine Schulzeugnisse, Studienabschlüsse oder Berufsabschlüsse anerkennen lassen kannst? Wir geben Dir: <br> <span class="goal">Erste Informationen zum Anerkennungsprozess</span>
            </p> -->
            <p>
                Einzelpersonen können einen Bildungsscheck erhalten, wenn Sie ein zu versteuerndes Jahreseinkommen von max. 40.000 Euro (bis max. 80.000 Euro bei gemeinsamer Veranlagung) nachweisen können und Ihren Wohnsitz in NRW haben.
            </p>
            <p>
                Sie können bis zu einem Bildungsscheck jährlich in Anspruch nehmen. Die Weiterbildung muss in einem individuellen beruflichen Zusammenhang stehen.
            </p>
            <p class="actions">
                Antje Krah | 0231/28678 744
            </p>
            <p class="actions">
                Gisela Reppel | 0231/28678 744
            </p>
        </div>
        <div>
            <img src="assets/logos/bildungsscheck_logo.jpg" alt="Bildungsberatung logo">
        </div>
    </div>
    <div class="form">
        <mat-card>
            <mat-card-content>
                <mat-card-title class="mat-display-1">
                    <span>kontakt</span>
                </mat-card-title>
                <form>
                    <div>
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Your email here">
                            <mat-hint align="end">Nur gültige Emails akzeptieren</mat-hint>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Nachricht</mat-label>
                            <textarea matInput cols="30" rows="10"></textarea>
                            <mat-hint align="end">Min. 10 Zeichen</mat-hint>
                        </mat-form-field>
                    </div>
    
                    <mat-card-actions>
                        <button
                            mat-raised-button
                            matTooltip="send your mail"
                            matTooltipShowDelay="500"
                            matTooltipHideDelay="1000">
                            Senden
                        </button>
                    </mat-card-actions>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
