<div class="create-course">
    <div class="intro">
        <h2 class="mat-display-2">Programm in der folgenden Form bearbeiten</h2>
    </div>
    <div class="form">
        <mat-card>
            <!-- <mat-card-header>
                <button mat-icon-button mat-card-avatar>
                    <mat-icon>save_as</mat-icon>
                </button>
            </mat-card-header> -->
            <mat-card-content *ngIf="course">
                <mat-card-title class="mat-display-1">
                    <span>Kurs bearbeiten</span>
                </mat-card-title>
                <form [formGroup]="courseForm" (ngSubmit)="submitForm()">
                    <div>
                        <mat-form-field>
                            <mat-label>Titel</mat-label>
                            <input matInput formControlName="title" placeholder="Ihr Titel hier">
                            <mat-hint align="end">Min. 4 Zeichen</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="form-group bg-dark mb-3">
                        <label>Beschreibung</label>
                        <app-rich-text-editor [control]="descriptionControl"></app-rich-text-editor>
                        <!-- <mat-form-field>
                            <mat-label>Description</mat-label>
                            <textarea matInput formControlName="description" cols="30" rows="10"></textarea>
                            <mat-hint align="end">Min 10 characters</mat-hint>
                        </mat-form-field> -->
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Link zum Lesen</mat-label>
                            <input type="url" matInput formControlName="link" placeholder="Ihr URL Kurs hier">
                            <mat-hint align="end">Nur gültige URL akzeptieren</mat-hint>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Author</mat-label>
                            <input matInput formControlName="author" placeholder="Name des Autors hier">
                            <mat-hint align="end">Min. 4 Zeichen</mat-hint>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Kategory</mat-label>
                            <select matNativeControl formControlName="category">
                                <option>None</option>
                                <option *ngFor="let category of categories"
                                        value="{{ category.id }}"
                                        >
                                            {{ category.name }}
                                </option>
                            </select>
                        </mat-form-field>
                    </div>
    
                    <mat-card-actions>
                        <button
                            mat-raised-button
                            [disabled]="courseForm.invalid">
                            Speichern
                        </button>
                        <button mat-flat-button routerLink="/courses" color="accent">
                            Cancel
                        </button>
                    </mat-card-actions>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
