<div class="create-course">
    <div class="intro">
        <h2 class="mat-display-2">Projekt bearbeiten</h2>
        
    </div>
    <div class="form">
        <mat-card>
            <div mat-icon-button mat-card-avatar class="list" routerLink="/projects/list">
                <mat-icon>list</mat-icon>
            </div>
            <!-- <mat-card-header>
                <button mat-icon-button mat-card-avatar>
                    <mat-icon>save_as</mat-icon>
                </button>
            </mat-card-header> -->
            <mat-card-content *ngIf="project">
                <mat-card-title class="mat-display-1">
                    <span>Projekt anlegen</span>
                </mat-card-title>
                <form [formGroup]="projectForm" (ngSubmit)="submitForm()">
                    <div>
                        <mat-form-field>
                            <mat-label>Projekttitel</mat-label>
                            <input matInput formControlName="title" placeholder="Ihr Titel hier">
                            <mat-hint align="end">Min. 4 Zeichen</mat-hint>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Laufzeit</mat-label>
                            <input matInput formControlName="duration" placeholder="Ihre Dauer hier">
                            <mat-hint align="end">Min. 4 Zeichen</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="form-group bg-dark mb-3">
                        <label>Infotext</label>
                        <app-rich-text-editor [control]="descriptionControl"></app-rich-text-editor>
                        <!-- <mat-form-field>
                            <mat-label>Infotext</mat-label>
                            <textarea matInput formControlName="description" cols="30" rows="10"></textarea>
                            <mat-hint align="end">Min 10 characters</mat-hint>
                        </mat-form-field> -->
                    </div>
                    <div class="upload">
                        <input #projektlogo hidden type="file" onclick="this.value=null" accept="image/*" (change)="selectLogoProject($event)" />
                        <button type="button" mat-stroked-button (click)="projektlogo.click()">Projektlogo</button>
                        <img [src]="logoProject" class="preview" />
                        <button type="button" mat-stroked-button (click)="resetLogoProject()" *ngIf="logoProject">Zurücksetzen</button>
                    </div>
                    <div class="upload">
                        <input #kooperationspartner hidden type="file" onclick="this.value=null" accept="image/*" (change)="selectLogoPatner($event)" />
                        <button type="button" mat-stroked-button (click)="kooperationspartner.click()">Logos Kooperationspartner</button>
                        <img [src]="logoPatner" class="preview" />
                        <button type="button" mat-stroked-button (click)="resetLogoPatner()" *ngIf="logoPatner">Zurücksetzen</button>
                    </div>
                    <div class="upload">
                        <input #forderer hidden type="file" onclick="this.value=null" accept="image/*" (change)="selectLogoSponsor($event)" />
                        <button type="button" mat-stroked-button (click)="forderer.click()">Logos Förderer</button>
                        <img [src]="logoSponsor" class="preview" />
                        <button type="button" mat-stroked-button (click)="resetLogoSponsor()" *ngIf="logoSponsor">Zurücksetzen</button>
                    </div>
    
                    <mat-card-actions>
                        <button
                            mat-flat-button
                            [disabled]="projectForm.invalid">
                            Speichern
                        </button>
                        <button mat-flat-button routerLink="/projects/list" color="accent">
                            Cancel
                        </button>
                    </mat-card-actions>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
