.datenschutz {
    width: 60%;
    margin: auto;
    margin-top: 4rem;
}
@media (max-width: 992px) {
    .datenschutz {
        width: 70%;
    }
}
@media (max-width: 768px) {
    .datenschutz {
        width: 80%;
    }
}
@media (max-width: 576px) {
    .datenschutz {
        width: 90%;
    }
}

.mat-display-2 {
    color: #ff8f0c;
    font-family: 'Permanent Marker';
    text-align: center;
}

.mat-display-1, h4 {
    color: #ff8f0c;
    font-family: 'Permanent Marker';
    font-size: 1.8rem;
    /* margin-bottom: 0.3rem; */
    margin-top: 1.5rem;
}

.content-page {
    color: whitesmoke;
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-weight: 300;

    font-size: 1.1rem;
    font-weight: 200;
    line-height: 2.2rem;
}

a {
    text-decoration: underline #ff8f0c;
    text-underline-offset: 0.4rem;
    color: whitesmoke;
}

ul {
    list-style-type: none;
}