<div class="create-course">
    <div class="intro">
        <h2 class="mat-display-2">Projekt bearbeiten</h2>
        
    </div>
    <div class="form">
        <mat-card>
            <div mat-icon-button mat-card-avatar class="list" routerLink="/projects/list">
                <mat-icon>list</mat-icon>
            </div>
            <mat-card-content *ngIf="project">
                <mat-card-title class="mat-display-1">
                    <span>Projekt anlegen</span>
                </mat-card-title>
                <form [formGroup]="projectForm" (ngSubmit)="submitForm()">
                    <div>
                        <mat-form-field>
                            <mat-label>Project Title</mat-label>
                            <input matInput formControlName="title" placeholder="Ihr Titel hier">
                            <mat-hint align="end">Mindestens 4 Zeichen</mat-hint>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field>
                            <mat-label>Category</mat-label>
                            <input matInput type="text" formControlName="category_id" placeholder="project category">
                        </mat-form-field>
                    </div>

                    <div class="mb-5">
                        <ngx-dropzone (change)="onSelectImage($event)">
                            <ngx-dropzone-label>Drag and Drop logo project</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of imageFiles" [removable]="true" (removed)="onRemoveImage(f)">
                              <ngx-dropzone-label>
                                {{ f.name }} {{ f.type }}
                              </ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                        <button mat-button class="upload-image mt-1" (click)="uploadProjectLogoFile()">Upload</button>
                    </div>

                    <div class="mb-5">
                        <ngx-dropzone (change)="onSelectImage($event)">
                            <ngx-dropzone-label>Drag and Drop project image</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of imageFiles" [removable]="true" (removed)="onRemoveImage(f)">
                              <ngx-dropzone-label>
                                {{ f.name }} {{ f.type }}
                              </ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                        <button mat-button class="upload-image mt-1" (click)="uploadProjectImageFile()">Upload</button>
                    </div>
                      
                    <div class="mb-5">
                        <ngx-dropzone (change)="onSelectImage($event)">
                            <ngx-dropzone-label>Drag and Drop sponsor images</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of imageFiles" [removable]="true" (removed)="onRemoveImage(f)">
                              <ngx-dropzone-label>
                                {{ f.name }} {{ f.type }}
                              </ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                        <button mat-button class="upload-image mt-1" (click)="uploadSponsorImageFiles()">Upload</button>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Director</mat-label>
                            <input type="text" matInput formControlName="director" placeholder="director">
                            <mat-hint align="end">Mindestens 4 Zeichen</mat-hint>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Code</mat-label>
                            <input type="text" matInput formControlName="code" placeholder="Code">
                            <mat-hint align="end">Mindestens 4 Zeichen</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="form-group bg-dark mb-3 content">
                        <label>Beschreibung</label>
                        <app-rich-text-editor [control]="contentControl"></app-rich-text-editor>
                    </div>
                    
    
                    <mat-card-actions>
                        <button
                            mat-raised-button
                            color="primary"
                            [disabled]="projectForm.invalid">
                            Speichern
                        </button>
                    </mat-card-actions>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
