<mat-nav-list>
    <a mat-list-item routerLink="/program">Programm</a>
    <mat-divider></mat-divider>
    <a mat-list-item href="https://bildungswerk-vielfalt.com/login/index.php" target="_blank">Lernplattform</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/education">Bildungsberatung</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/projects">Projekte</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/toolbox-pages">Toolbox</a>
    <mat-divider></mat-divider>
    <a mat-list-item>About Us</a>
    <mat-divider></mat-divider>

    <div class="edie-brand" routerLink="/" (click)="closeNav()">BWV</div>
    <div class="rectangle"></div>
</mat-nav-list>
