<!-- REDESIGN -->
<div class="home-content">
    <section class="program" routerLink="/program">
        <div class="program__content">
            <h1 class="heading">Programm</h1>
            <div class="program__content--first">
                <img src="assets/images/Program1.jpg" alt="Looking persons art">
            </div>
            <div class="program__content--second">
                <img src="assets/images/Program2.jpg" alt="At cinema">
            </div>
        </div>
    </section>
    
    <section class="learning">
        <a href="https://moodle.bildungswerk-vielfalt.com" target="_blank">
            <div class="learning__content">
                <h1 class="heading">Lernplattform</h1>
                <div class="learning__content--first">
                    <img src="assets/images/Lernplatform1.jpg" alt="Mens lying on the ground">
                </div>
                <div class="learning__content--second">
                    <img src="assets/images/Lernplattform2.JPG" alt="Drawing images">
                </div>
            </div>
        </a>
    </section>
    
    <section class="educational" routerLink="/education">
        <div class="educational__content">
            <h1 class="heading">Bildungsberatung</h1>
            <div class="educational__content--first">
                <img src="assets/images/Bildungsberatung1.jpg" alt="Live singing">
            </div>
            <div class="educational__content--second">
                <img src="assets/images/Bildugnsbereatung2.JPG" alt="Live singing in front">
            </div>
        </div>
    </section>
    
    <section class="projects" routerLink="/projects">
        <div class="projects__content">
            <h1 class="heading">Projekte</h1>
            <div class="projects__content--images">
                <div class="first-block">
                    <div class="top-block">
                        <div>
                            <img src="assets/images/Projekte4.jpg" alt="">
                        </div>
                        <div>
                            <img src="assets/images/Projekte3.jpg" alt="">
                        </div>
                    </div>
                    <div>
                        <img src="assets/images/Projekte5.JPG" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="toolbox" routerLink="/toolbox-pages">
        <div class="toolbox__content">
            <div class="heading">Toolbox</div>
            <div class="toolbox__content--images">
                <div class="toolbox--first-bock">
                    <img src="assets/images/Toolbox.jpg" alt="">
                </div>
                <div class="toolbox--second-block">
                    <div><img src="assets/images/Toolbox2.jpg" alt="Wemen in the sport room"></div>
                </div>
            </div>
        </div>
    </section>
</div>