.program-content {
    width: 80%;
    margin: auto;
    padding-top: 4rem;
    color: whitesmoke;
}
.mat-display-2 {
    color: #ff8f0c;
    font-family: 'Permanent Marker';
    text-align: center;
}

.content-page {
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-weight: 300;
}

.download {
    text-align: right;
    padding: 0.5rem;
    margin-bottom: 1rem;
}
.download a {
    text-decoration: underline #ff8f0c;
    text-underline-offset: 0.4rem;
    font-size: 1.2rem;
}

pdf-viewer {
    display: block;
    width: 100%;
    height: 46cm;
}
@media (max-width: 1200px) {
    pdf-viewer {
        height: 34cm;
    }
}
@media (max-width: 1080px) {
    .program-content {
        width: 82%;
    }
    pdf-viewer {
        height: 32cm;
    }
}
@media (max-width: 992px) {
    pdf-viewer {
        height: 30cm;
    }
}
@media (max-width: 768px) {
    .program-content {
        width: 92%;
    }
    pdf-viewer {
        height: 25cm;
    }
}
@media (max-width: 576px) {
    .program-content {
        width: 96%;
    }
    pdf-viewer {
        height: 17cm;
    }
}

.actions {
    text-align: center;
    margin-top: 0.3rem;
}

.actions span {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.actions button {
    background: transparent;
    color: whitesmoke;
    border: 1px solid whitesmoke;
}

.actions button:disabled {
    color: gray;
    border-color: gray;
}
