<div class="about-us">
    <h2 class="mat-display-2">Infos</h2>

    <div class="content-page">
        <p>
            Wir gestalten Erwachsenenbildung. Bildungsprozesse sind keine abgeschlossenen Räume, in ihnen spiegeln sich die Angebote, Bedarfe und Lebenserfahrungen von allen Menschen. Bildungsangebote müssen auf die Erfahrungen sowie Emotionen der an ihnen beteiligten Menschen eingehen. Kreatives Lernen muss gelehrt, gelernt und gefördert werden. 
        </p>
        <p>
            Das Bildungswerk Vielfalt ist anerkannt nach dem NRW Weiterbildungsgesetzt. Unsere Bildungsangebote richteten sich an unsere plurale Stadtgesellschaft. Wir bieten Deutschkurse, digitale, kulturelle und politische Bildungsangebote an. Darüber hinaus haben wir Antirassismustrainings und Empowerment-Workshops in unserem Angebot.
        </p>
        <p>
            Wir entwickeln eigene Wege im Umgang mit Diversität und Digitalität, um aktiv einen Beitrag für Chancengerechtigkeit zu leisten sowie persönliche und berufliche Weiterbildung zukunftsfähig zu machen: Was es braucht, sind viele Perspektiven, eine Form von Routine und Gelassenheit im Umgang mit Komplexität, die Bereitschaft zum Aushandeln und Aushalten von Deutungshoheit sowie kontingente Kompetenzen, die zu wertschätzenden Entscheidungen führen.
        </p>
        <!-- <p>
            Deshalb entwickeln wir eigene Wege der Digitalität, um aktiv einen Beitrag für Chancengerechtigkeit zu leisten und persönliche und berufliche Weiterbildung zukunftsfähig zu machen: Was es braucht, sind viele Perspektiven, eine Form von Routine und Gelassenheit im Umgang mit Komplexität, die Bereitschaft zum Aushandeln und Aushalten von Deutungshoheit sowie kontingente Kompetenzen, die zu wertschätzenden Entscheidungen führen.
        </p> -->
        <p>
            Denn, das ist klar: Es gibt Menschen, die werden migrantisch gelesen und andere nicht. Es gibt Menschen, die erleben Diskriminierung und/oder Rassismus und anderen nicht. All das geschieht auch in Bildungsprozessen.
        </p>
    </div>
</div>