<div class="create-course">
    <div class="intro">
        <h2 class="mat-display-2">Projekt über das folgende Formular anmelden</h2>
    </div>
    <div class="form">
        <mat-card>
            <div mat-icon-button mat-card-avatar class="list" routerLink="/projects/list">
                <mat-icon>list</mat-icon>
            </div>
            <mat-card-content>
                <mat-card-title class="mat-display-1">
                    <span>Project Creation</span>
                </mat-card-title>
                <form [formGroup]="projectForm" (ngSubmit)="submitForm()">
                    <div>
                        <mat-form-field>
                            <mat-label>Project Title</mat-label>
                            <input matInput formControlName="title" placeholder="Ihr Titel hier">
                            <mat-hint align="end">Mindestens 4 Zeichen</mat-hint>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field>
                            <mat-label>Category</mat-label>
                            <input matInput type="text" formControlName="category_id" placeholder="project category">
                        </mat-form-field>
                    </div>

                    <!-- SELECT LOGO -->
                    <div class="mb-5">
                        <ngx-dropzone (change)="onSelectLogo($event)">
                            <ngx-dropzone-label>Projektlogo ziehen und ablegen</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of logoFile" [removable]="true" (removed)="onRemoveLogo(f)">
                              <ngx-dropzone-label>
                                {{ f.name }} {{ f.type }}
                              </ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                        <button
                            type="button"
                            mat-button
                            class="upload-image mt-1"
                            (click)="uploadProjectLogoFile()">
                            Upload
                        </button>
                    </div>

                    <!-- IMAGE PROJECT -->
                    <div class="mb-5">
                        <ngx-dropzone (change)="onSelectImageProject($event)">
                            <ngx-dropzone-label>Projektbild ziehen und ablegen</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of imageProject" [removable]="true" (removed)="onRemoveImageProject(f)">
                              <ngx-dropzone-label>
                                {{ f.name }} {{ f.type }}
                              </ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                        <button
                            type="button"
                            mat-button
                            class="upload-image mt-1"
                            (click)="uploadProjectImageFile()">
                            Upload
                        </button>
                    </div>
                      
                    <!-- SPONSOR IMAGES -->
                    <div class="mb-5">
                        <ngx-dropzone (change)="onSelectSponsorImage($event)">
                            <ngx-dropzone-label>Ziehen und Ablegen von Sponsorenbildern</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of sponsorImages" [removable]="true" (removed)="onRemoveSponsorImage(f)">
                              <ngx-dropzone-label>
                                {{ f.name }} {{ f.type }}
                              </ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                        <button
                            type="button"
                            mat-button
                            class="upload-image mt-1"
                            (click)="uploadSponsorImageFiles()">
                            Upload
                        </button>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Director</mat-label>
                            <input type="text" matInput formControlName="director" placeholder="director">
                            <mat-hint align="end">Mindestens 4 Zeichen</mat-hint>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Code</mat-label>
                            <input type="text" matInput formControlName="code" placeholder="Code">
                            <mat-hint align="end">Mindestens 4 Zeichen</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="form-group bg-dark mb-3 content">
                        <label>Beschreibung</label>
                        <app-rich-text-editor [control]="contentControl"></app-rich-text-editor>
                    </div>
                    
    
                    <mat-card-actions>
                        <button
                            mat-raised-button
                            color="primary"
                            [disabled]="projectForm.invalid">
                            Speichern
                        </button>
                    </mat-card-actions>
                </form>
            </mat-card-content>
        </mat-card>
        <mat-card *ngIf="projectPreview$ | async as project" class="preview">
            <h1>Preview</h1>
            <mat-card-header>
                <mat-card-title>{{project.title}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="properties">
                    <div *ngIf="project.category_id">
                        <p class="label">Category:</p>
                        <p class="value">
                            {{project.category_id}}
                        </p>
                    </div>
                    <div *ngIf="project.project_icon_url">
                        <p class="label">Logo URL:</p>
                        <p class="value">
                            {{project.project_icon_url }}
                        </p>
                    </div>
                    <div *ngIf="project.project_image_url">
                        <p class="label">Project Image URL:</p>
                        <p class="value">{{ project.project_image_url }}</p>
                    </div>
                    <div *ngIf="project.sponsor_images_urls">
                        <p class="label">Project Sponsor Image URL:</p>
                        <p class="value">{{ project.sponsor_images_urls }}</p>
                    </div>
                    <div *ngIf="project.director">
                        <p class="label">Director:</p>
                        <p class="value">{{ project.director }}</p>
                    </div>
                    <div *ngIf="project.code">
                        <p class="label">Code:</p>
                        <p class="value">{{ project.code }}</p>
                    </div>
                </div>
                <div [innerHTML]="project.content" class="preview-content">
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
