.textarea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 992px) {
  .textarea {
    flex-direction: column;
  }
}

  mat-form-field textarea {
    min-height: 100px;
    /* resize: none; */
  }
  .languages button {
    color: whitesmoke;
  }
  mat-form-field .result-box {
    background-color: #201f1f;
  }

  mat-form-field textarea {
    color: whitesmoke;
    font-weight: 300;
  }

  .mat-form-field {
    width: 49%;
  }
  @media (max-width: 992px) {
    .mat-form-field {
      width: 100%;
    }
  }

  /* input outline color */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #8f8b8b!important;
    /* opacity: 1!important; */
}

  /* mat-input focused color */
  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #bbb9b9!important;
  }

  .textarea span {
    padding: 0 1rem 1rem 0;
    color: #8f8b8b;
  }